<div>
<h1>New User</h1>

    <form action="/users/create" method="post">
    
        <label for="name">User Name:</lable>
        <input type="text" name="user" />
        <br>
        <label for="age">Age:</label> 
        <input type="integer" name="age"/>
        <br>
        <label for="email">email:</label> 
        <input type="text" name="email"/>
        <br>
        <input class="button" type="Submit" value="Log In" /> 
        <br>
    </form>
</div>