// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #5C246E;
}

input {
      display: inline-block;
      margin: 10px;
      
}

body {
  height: inherit;
    background-color: pink;
    margin: auto;
    padding: 10%;
}