// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: #5C246E;
}

input {
    display: inline-block;
    margin: 10px;
      
}
.body-cont {
  margin: auto;
  padding: 10%;
}

body {
    height: inherit;
    background-color: pink;
    margin: inherit;
}

.header {
  height:50px;
  background-color: white;
  width: 100%;
  position: fixed;
  margin:0px auto;
  
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.title {
  margin: auto;
  padding: 10px 10%;
}

input {
  width: 200px;
  height: 25px;
  font-size: 13px; 
  display: inline-block;
  align-content: inherit;  
}

form {
  max-width: 800px;
  padding: 10px;  
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin:auto;
  position:relative;
  width:80%;
  height:300px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
